.component-data-with-lazy-loader-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 4rem;
    gap: 1em;
    color: red;
}

.fallback-message-style-container {
    background-color: blue;
    color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 4rem;
    gap: 1em;
}